.tile-grid .tile {
	border-bottom: none;
	padding-bottom: 15px;
}

.tile-grid .current-value {
	padding-top: 0px;
	padding-bottom: 0px;
}

.tile-grid .start-value {
	padding-top: 0px;
	padding-bottom: 15px;
}

.tile-grid .tile-title {
	margin: 0 0 3px 0;
}